body{
  background-color: #ffcc66;
  color: #212121;
  font-family: Rockwell Extra Bold;
}

#dailyGrindLogo{
  background-image: url("../images/dailygrindlogopale.png");
  width: 440px;
  height: 440px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#loginIcon{
  background-image: url("../images/loginpale.png");
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
}

#signupIcon{
  background-image: url("../images/signuppale.png");
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
}

#updateIcon{
  background-image: url("../images/updatepale.png");
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
}

#passwordIcon{
  background-image: url("../images/passwordpale.png");
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
}

#deleteIcon{
  background-image: url("../images/deletepale.png");
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
}

#deleteIconSmall{
  background-image: url("../images/deletepale.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

#yesIcon{
  background-image: url("../images/yespale.png");
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
}

#yesIconSmall{
  background-image: url("../images/yespale.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

#noIcon{
  background-image: url("../images/nopale.png");
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
}

#noIconSmall{
  background-image: url("../images/nopale.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

#addFriendIcon{
  background-image: url("../images/addfriendpale.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

#dailyGrindWords{
  background-image: url("../images/dailygrindwordspale.png");
  width: 440px;
  height: 140px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

#avatar{
  background-image: url("../images/avatarpale.png");
  width: 440px;
  height: 140px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.active{
  opacity: 1 !important;
  border-bottom: 1px solid #ac7339;
}

.navItem{
  color: #ac7339;
  opacity: 0.5;
}

.textInput{
  border: 1px solid #ac7339;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}


.pageButton{
  color: #ac7339;
}

.popup-content {
  background-color: #ffcc66;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ac7339;
  width: 70%;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

.popup-content button {
  display: block;
  margin: 0 auto;
}

.show {
  display: block;
}


.checkboxContainer{
  display: flex;
  flex-direction: row;
}